/* Write your CSS code here */
.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contactImage {
  width: 150px;
}

.contactHeading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #6d396b;
}
